
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="//cdn.shopify.com/s/files/1/0410/9608/5665/files/Minimalist_Favicon-min_32x32.png?v=1646335623" type="image/png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Blogs - Minimalist</title>
    <link rel="stylesheet" href="css/knowledge.css">
</head>
<body>
    <div id="container">
        <div id="header">
            <div id="myOverlay" class="overlay">
                <div id="InputCloseBox">
                    <div class="overlay-content">
                        <button id="SubmitSearchInput"><i class="fa fa-search"></i></button>
                        <input id="SearchInput" type="Search" placeholder="Search Our Store....">
                    </div>
                    <span class="closebtn" onclick="closeSearch()" title="Close Overlay">x</span>
                </div>
            </div>
            <div id="NavbarContainer">
                <div id="navbar">
                    <div id="LogoBox">
                        <div onclick="GoToHomePage()" id="HomeIcon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor"
                                class="bi bi-house-door-fill" viewBox="0 0 16 16">
                                <path
                                    d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5z" />
                            </svg>
                        </div>
                        <div onclick="GoToHomePage()" id="WebsiteNameBox">minimalist_</div>
                    </div>
                    <div id="MiddleBox">
                        <div onclick="GoToHomePage()" class="Middle">Home</div>
                        <div onclick="concernpage()" class="Middle">Concern</div>
                        <div onclick="OurProductPage()" class="Middle">Our Product</div>
                        <div onclick="knowleadgepage()" class="Middle">Knowleadge</div>
                        <div onclick="TrackerOrder()" class="Middle">Tracker Order</div>
                    </div>
                    <div id="LoginSignUpBox">
                        <div onclick="LoginSignUpPage()" class="LoginSignUp">
                            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor"
                                class="bi bi-person-bounding-box" viewBox="0 0 16 16">
                                <path
                                    d="M1.5 1a.5.5 0 0 0-.5.5v3a.5.5 0 0 1-1 0v-3A1.5 1.5 0 0 1 1.5 0h3a.5.5 0 0 1 0 1h-3zM11 .5a.5.5 0 0 1 .5-.5h3A1.5 1.5 0 0 1 16 1.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 1-.5-.5zM.5 11a.5.5 0 0 1 .5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 1 0 1h-3A1.5 1.5 0 0 1 0 14.5v-3a.5.5 0 0 1 .5-.5zm15 0a.5.5 0 0 1 .5.5v3a1.5 1.5 0 0 1-1.5 1.5h-3a.5.5 0 0 1 0-1h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 1 .5-.5z" />
                                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm8-9a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                            </svg>
                        </div>
                        <div id="SearchIcon" onclick="openSearch()" class="LoginSignUp"><i class="fa fa-search"></i></div>
                        <div onclick="MinimalistAddToCartPage()" id="AddToCart" class="LoginSignUp">
                            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-cart3"
                                viewBox="0 0 16 16">
                                <path
                                    d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="knowledge_lab">
            <div>
                <h3>Knowledge Lab</h3>
            </div>
        </div>
        <div id="guides">
            <div>
                <div>
                    <h3>Guides - Ingredients you should know</h3>
                </div>
                <div id="img">
                    <div>
                        <div class="im">
                            <img src="https://cdn.shopify.com/s/files/1/0410/9608/5665/articles/cover_image_2_a998f2b3-ab10-4d02-8c47-2d8d554bea71_350x300_crop_center.jpg?v=1615437318" alt="">
                        </div>
                        <div>
                            <h3>The No BS Guide to Using Peptides in Skincare</h3>
                        </div>
                        <div>
                            <p>Read more</p>
                        </div>
                    </div>
                    <div>
                        <div class="im">
                            <img src="https://cdn.shopify.com/s/files/1/0410/9608/5665/articles/cover_image_2_b9636a4c-b0c5-4445-8be1-6c7cf8e796a1_350x300_crop_center.jpg?v=1613711302" alt="">
                        </div>
                        <div>
                            <h3>Supercharge Your Skin With Colloidal Oatmeal</h3>
                        </div>
                        <div>
                            <p>Read more</p>
                        </div>
                    </div>
                    <div>
                        <div class="im">
                            <img src="https://cdn.shopify.com/s/files/1/0410/9608/5665/articles/blog_creative_-_2020-12-22T183226.959_350x300_crop_center.jpg?v=1608701277" alt="">
                        </div>
                        <div>
                            <h3>No BS Guide to Using Squalane</h3>
                        </div>
                        <div>
                            <p>Read more</p>
                        </div>
                    </div>
                    <div>
                        <div class="im">
                            <img src="https://cdn.shopify.com/s/files/1/0410/9608/5665/articles/blog_creative_98_65e63066-f662-47b3-ad30-7a7bbf34e45b_350x300_crop_center.jpg?v=1607747779" alt="">
                        </div>
                        <div>
                            <h3>No BS Guide to Using Azelaic Acid for Your Skin!</h3>
                        </div>
                        <div>
                            <p>Read more</p>
                        </div>
                    </div>
                    <div>
                        <div class="im">
                            <img src="https://cdn.shopify.com/s/files/1/0410/9608/5665/articles/blog_creative_96_350x300_crop_center.jpg?v=1607666146" alt="">
                        </div>
                        <div>
                            <h3>No BS Guide to Using Salicylic Acid</h3>
                        </div>
                        <div>
                            <p>Read more</p>
                        </div>
                    </div>
                    <div>
                        <div class="im">
                            <img src="https://cdn.shopify.com/s/files/1/0410/9608/5665/articles/Merry_Christmas_A_Happy_New_Year_4_350x300_crop_center.jpg?v=1600699154" alt="">
                        </div>
                        <div>
                            <h3>No BS Guide to Niacinamide for oil-free fresh look</h3>
                        </div>
                        <div>
                            <p>Read more</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="view_more">
            <div>
                <div>
                    <h3>View more</h3>
                </div>
            </div>
        </div>
        <div id="skin_care">
            <div>
                <h3>Skincare - Words of wisdom</h3>
            </div>
        </div>
        <div id="all_img">
            <div>
                <div>
                    <div class="im">
                        <img src="https://cdn.shopify.com/s/files/1/0410/9608/5665/articles/cover_image_2_d4dbda77-2adc-4d4b-8c29-fd168cdbc2ae_350x300_crop_center.jpg?v=1616389018">
                    </div>
                    <div>
                        <h3>Salicylic Acid is One Of The Most Commonly Used Topical Face Acids! Here’s How To Use It!</h3>
                    </div>
                    <div>
                        <p>Read more</p>
                    </div>
                </div>
                <div>
                    <div class="im">
                        <img src="https://cdn.shopify.com/s/files/1/0410/9608/5665/articles/cover_image_2_5ed4fc56-3ddd-4a22-8c85-39e2be166515_350x300_crop_center.jpg?v=1616216743">
                    </div>
                    <div>
                        <h3>10 Things you need to know about skin hydration</h3>
                    </div>
                    <div>
                        <p>Read more</p>
                    </div>
                </div>
                <div>
                    <div class="im">
                        <img src="https://cdn.shopify.com/s/files/1/0410/9608/5665/articles/cover_image_2_9c219657-ed35-4fcb-8413-8804e32561c9_350x300_crop_center.jpg?v=1616129562">
                    </div>
                    <div>
                        <h3>The Uses and Benefits of Oleic Acid for Skin</h3>
                    </div>
                    <div>
                        <p>Read more</p>
                    </div>
                </div>
                <div>
                    <div class="im">
                        <img src="https://cdn.shopify.com/s/files/1/0410/9608/5665/articles/blog_creative_017cedf8-11c3-445d-9f03-0505c3cbbab3_350x300_crop_center.jpg?v=1616045048">
                    </div>
                    <div>
                        <h3>How to maintain pH skin level? Why is it important?</h3>
                    </div>
                    <div>
                        <p>Read more</p>
                    </div>
                </div>
                <div>
                    <div class="im">
                        <img src="https://cdn.shopify.com/s/files/1/0410/9608/5665/articles/cover_image_2_c3d42681-b1dc-4b11-bf11-e443aa504096_350x300_crop_center.jpg?v=1615960891">
                    </div>
                    <div>
                        <h3>Rough, Dry Patches on the Face: Causes & Prevention</h3>
                    </div>
                    <div>
                        <p>Read more</p>
                    </div>
                </div>
                <div>
                    <div class="im">
                        <img src="https://cdn.shopify.com/s/files/1/0410/9608/5665/articles/cover_image_2_d687a031-6f8d-4aa2-a681-b0ad7e5f2da7_350x300_crop_center.jpg?v=1615874050">
                    </div>
                    <div>
                        <h3>7 Benefits of Rice Water For Skin</h3>
                    </div>
                    <div>
                        <p>Read more</p>
                    </div>
                </div>
                <div>
                    <div class="im">
                        <img src="https://cdn.shopify.com/s/files/1/0410/9608/5665/articles/cover_image_2_9b97690b-b968-438f-88a2-fd554855bbc0_350x300_crop_center.jpg?v=1615809438">
                    </div>
                    <div>
                        <h3>Are you worried about dark patches on lips and around the mouth?</h3>
                    </div>
                    <div>
                        <p>Read more</p>
                    </div>
                </div>
                <div>
                    <div class="im">
                        <img src="https://cdn.shopify.com/s/files/1/0410/9608/5665/articles/cover_image_2_1d8c1337-9d5d-4950-8995-4d01e9100158_350x300_crop_center.jpg?v=1615610542">
                    </div>
                    <div>
                        <h3>Why Does Pigmentation Appear on the Face?</h3>
                    </div>
                    <div>
                        <p>Read more</p>
                    </div>
                </div>
                <div>
                    <div class="im">
                        <img src="https://cdn.shopify.com/s/files/1/0410/9608/5665/articles/cover_image_2_df9cbc41-fe84-4c35-ac51-81ab41a39482_350x300_crop_center.jpg?v=1615524094">
                    </div>
                    <div>
                        <h3>Body Scrub Vs. Exfoliation: What's the difference?</h3>
                    </div>
                    <div>
                        <p>Read more</p>
                    </div>
                </div>
                <div>
                    <div class="im">
                        <img src="https://cdn.shopify.com/s/files/1/0410/9608/5665/articles/cover_image_2_9ebd5e54-bc98-495c-b2d8-e28781d5e9da_350x300_crop_center.jpg?v=1615358338">
                    </div>
                    <div>
                        <h3>How is Tranexamic Acid Special for Skin?</h3>
                    </div>
                    <div>
                        <p>Read more</p>
                    </div>
                </div>
                <div>
                    <div class="im">
                        <img src="https://cdn.shopify.com/s/files/1/0410/9608/5665/articles/cover_image_2_2bbd078e-dd02-4111-a007-62c6e63906c5_350x300_crop_center.jpg?v=1615295931">
                    </div>
                    <div>
                        <h3>Can Sunscreen Prevent Tanning and Premature Skin Aging? Know How Sunscreen Works</h3>
                    </div>
                    <div>
                        <p>Read more</p>
                    </div>
                </div>
                <div>
                    <div class="im">
                        <img src="https://cdn.shopify.com/s/files/1/0410/9608/5665/articles/essential-5963208_640_350x300_crop_center.jpg?v=1615188418">
                    </div>
                    <div>
                        <h3>A Concise Guide on Layering With Alpha Arbutin Serum: The Do’s and Don’ts</h3>
                    </div>
                    <div>
                        <p>Read more</p>
                    </div>
                </div>
                <div>
                    <div class="im">
                        <img src="https://cdn.shopify.com/s/files/1/0410/9608/5665/articles/cover_image_2_dbb7bc32-79c0-4b07-bfae-856b273bea91_350x300_crop_center.jpg?v=1615017205">
                    </div>
                    <div>
                        <h3>Why is Cold-Pressed Skincare Trending?</h3>
                    </div>
                    <div>
                        <p>Read more</p>
                    </div>
                </div>
                <div>
                    <div class="im">
                        <img src="https://cdn.shopify.com/s/files/1/0410/9608/5665/articles/cover_image_4_3d22e89a-d479-4fda-9bb7-4c7944649943_350x300_crop_center.jpg?v=1615016737">
                    </div>
                    <div>
                        <h3>The Top 11 Skincare Combinations That You Will Absolutely Love!</h3>
                    </div>
                    <div>
                        <p>Read more</p>
                    </div>
                </div>
                <div>
                    <div class="im">
                        <img src="https://cdn.shopify.com/s/files/1/0410/9608/5665/articles/cover_image_2_531d8116-fcad-421c-942a-9f412a5c1abb_350x300_crop_center.jpg?v=1614926315">
                    </div>
                    <div>
                        <h3>Skincare Ingredients Trending in 2021</h3>
                    </div>
                    <div>
                        <p>Read more</p>
                    </div>
                </div>
                <div>
                    <div class="im">
                        <img src="https://cdn.shopify.com/s/files/1/0410/9608/5665/articles/cover_image_4_f4ecf546-05a6-4a85-b330-2528555fed60_350x300_crop_center.jpg?v=1614925659">
                    </div>
                    <div>
                        <h3>9 Mistakes You Can Easily Avoid In Your Skincare Routine!</h3>
                    </div>
                    <div>
                        <p>Read more</p>
                    </div>
                </div>
                <div>
                    <div class="im">
                        <img src="https://cdn.shopify.com/s/files/1/0410/9608/5665/articles/cover_image_2_5ad88017-bb8b-40b8-a075-30ca658a59bc_350x300_crop_center.jpg?v=1614843765">
                    </div>
                    <div>
                        <h3>Choose Face acids Based on Your Skin Type</h3>
                    </div>
                    <div>
                        <p>Read more</p>
                    </div>
                </div>
                <div>
                    <div class="im">
                        <img src="https://cdn.shopify.com/s/files/1/0410/9608/5665/articles/cover_image_2_25ca5437-702e-4f25-92a4-01a5685044d0_350x300_crop_center.jpg?v=1614838360">
                    </div>
                    <div>
                        <h3>Skincare Combinations That You Should Avoid</h3>
                    </div>
                    <div>
                        <p>Read more</p>
                    </div>
                </div>
                <div>
                    <div class="im">
                        <img src="https://cdn.shopify.com/s/files/1/0410/9608/5665/articles/cover_image_2_4ebaaa14-328a-4177-9e00-2c9804c76038_350x300_crop_center.jpg?v=1614750522">
                    </div>
                    <div>
                        <h3>The 10 Best Acids for Your Skincare Routine</h3>
                    </div>
                    <div>
                        <p>Read more</p>
                    </div>
                </div>
                <div>
                    <div class="im">
                        <img src="https://cdn.shopify.com/s/files/1/0410/9608/5665/articles/cover_image_2_86caeead-8f10-4f6b-bf73-af751ec4c146_350x300_crop_center.jpg?v=1614690763">
                    </div>
                    <div>
                        <h3>Here's Why Vitamins are Vital For Skin Health!</h3>
                    </div>
                    <div>
                        <p>Read more</p>
                    </div>
                </div>
                <div>
                    <div class="im">
                        <img src="https://cdn.shopify.com/s/files/1/0410/9608/5665/articles/cover_image_2_8ff1a77f-95dc-4c0c-81e8-3d21dd22dce5_350x300_crop_center.jpg?v=1614666005">
                    </div>
                    <div>
                        <h3>Toners for Oily Skin and Skin-friendly Ingredients</h3>
                    </div>
                    <div>
                        <p>Read more</p>
                    </div>
                </div>
                <div>
                    <div class="im">
                        <img src="https://cdn.shopify.com/s/files/1/0410/9608/5665/articles/cover_image_4_7dbb5c33-9428-45ac-8a6c-afcbb9bdbb13_350x300_crop_center.jpg?v=1614595568">
                    </div>
                    <div>
                        <h3>Fuller's Earth: Uses, Benefits and Risks</h3>
                    </div>
                    <div>
                        <p>Read more</p>
                    </div>
                </div>
                <div>
                    <div class="im">
                        <img src="https://cdn.shopify.com/s/files/1/0410/9608/5665/articles/cover_image_6_cf3909d9-b7a3-4a8b-915c-50e5b074a23b_350x300_crop_center.jpg?v=1614595081">
                    </div>
                    <div>
                        <h3>2 Must have Minimalist serums for winters and how to use these properly</h3>
                    </div>
                    <div>
                        <p>Read more</p>
                    </div>
                </div>
                <div>
                    <div class="im">
                        <img src="https://cdn.shopify.com/s/files/1/0410/9608/5665/articles/cover_image_5_16fc78c9-d350-40be-8fef-c54a501266f5_350x300_crop_center.jpg?v=1614404374">
                    </div>
                    <div>
                        <h3>When and how much sunscreen should you apply? What is the best way to use sunscreens?</h3>
                    </div>
                    <div>
                        <p>Read more</p>
                    </div>
                </div>
                <div>
                    <div class="im">
                        <img src="https://cdn.shopify.com/s/files/1/0410/9608/5665/articles/cover_image_2_338580c7-0238-4c70-a22f-a2c1ac83afae_350x300_crop_center.jpg?v=1614339008">
                    </div>
                    <div>
                        <h3>The Importance of Following a Night Skincare Routine</h3>
                    </div>
                    <div>
                        <p>Read more</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="view_more">
            <div>
                <div>
                    <h3>View more</h3>
                </div>
            </div>
        </div>
        <div id="footer">
            <div class="footer-1">
                <div class="footr-text">
                    <div class="text-area">
                        <div class="logo">
                            <a href="#link">
                                <img src="https://cdn.shopify.com/s/files/1/0410/9608/5665/files/minimalist-logo-white-new_x20@2x.png?v=1606032887"
                                    alt="" class="a-img">
                            </a>
                        </div>
                        <div class="logo-2">
                            <div class="logo-1">
                                <a href="#link">
                                    <img src="https://toppng.com/uploads/preview/facebook-logo-black-11549681824hmcxyqtxds.png"
                                        alt="" class="image">
                                </a>
                            </div>
                            <div class="logo-1">
                                <a href="#link">
                                    <img src="https://i.pinimg.com/originals/c6/2c/05/c62c055ede6aadbb1f94a555071c98b9.jpg" alt=""
                                        class="image">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="text-area">
                        <div class="mid-tex">
                            <p class="text-01">ABOUT</p>
                        </div>
                        <div class="mid-tex">
                            <a href="#link" class="link">Our values</a><br>
                            <a href="#link" class="link">Privacy policy</a><br>
                            <a href="#link" class="link">Terms & conditions</a><br>
                        </div>
                    </div>
                    <div class="text-area">
                        <div class="mid-tex">
                            <p class="text-01">HELP</p>
                        </div>
                        <div class="mid-tex">
                            <a href="#link" class="link">Knowledge</a><br>
                            <a href="#link" class="link">FAQs</a><br>
                            <a href="#link" class="link">Return & refund policy</a><br>
                            <a href="#link" class="link"> Contact us</a><br>
                            <a href="#link" class="link">Track order</a><br>
                        </div>
                    </div>
                    <div class="text-area">
                        <div class="mid-tex">
                            <p class="text-01">SIGN UP AND SAVE</p>
                        </div>
                        <div class="mid-tex">
                            <p class="link">
                                Subscribe to get special offers, free giveaways, and once-in-a-lifetime deals.
                            </p>
                            <div class="box1">
                                <div class="div">
                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQXmTSdwx7aEKX5HoBTvAlYubZ9bIOpysS0gA&usqp=CAU"
                                        alt="" class="image-1">
                                </div>
                                <div id="div1">
                                    <input type="text" placeholder="Enter your email" class="input">
                                </div>
            
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-logo">
            
                    <div id="footer-logo-1">
                        <div class="img">
                            <img src="https://mir-s3-cdn-cf.behance.net/project_modules/fs/30455c9384889.57ee562a4fba0.jpg" alt="Na"
                                class="image">
                        </div>
                        <div class="img">
                            <img src="https://flyclipart.com/thumb2/american-express-amex-billing-credit-card-payment-shop-icon-500339.png"
                                alt="Na" class="image">
                        </div>
                        <div class="img">
                            <img src="https://cdn.techjockey.com/web/assets/images/techjockey/products/11424_Freecharge-logo.jpg"
                                alt="Na" class="image">
                        </div>
                        <div class="img">
                            <img src="https://assets.mspimages.in/wp-content/uploads/2021/07/GooglePay_Lockup.max-1200x1200-1.png"
                                alt="Na" class="image">
                        </div>
                        <div class="img">
                            <img src="https://yt3.ggpht.com/ytc/AKedOLSvIBDFtbGRhKxpIQvtcLCrCa75ldfziwEVgJG5=s900-c-k-c0x00ffffff-no-rj"
                                alt="Na" class="image">
                        </div>
                        <div class="img">
                            <img src="https://www.pngitem.com/pimgs/m/265-2655326_mobikwik-wallet-icon-hd-png-download.png" alt="Na"
                                class="image">
                        </div>
                        <div class="img">
                            <img src="https://securecdn.pymnts.com/wp-content/uploads/2020/01/Score-Card-Company-Image-22.png"
                                alt="Na" class="image">
                        </div>
                        <div class="img">
                            <img src="https://aniportalimages.s3.amazonaws.com/media/details/Paytm_apr28.jpg" alt="Na"
                                class="image">
                        </div>
                        <div class="img">
                            <img src="https://skyllme.com/wp-content/uploads/2019/10/unnamed.jpg" alt="Na" class="image">
                        </div>
                        <div class="img">
                            <img src="https://www.sundayguardianlive.com/wp-content/uploads/2019/10/rupay.jpg" alt="Na"
                                class="image">
                        </div>
                        <div class="img">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSpc6dS_7YcmRbnP5ztdomyriQje2m4rWdXSWds18YLMbboByoGOOglpiRTb2NqeKMBZv0&usqp=CAU"
                                alt="Na" class="image">
                        </div>
                    </div>
                    <div class="footer-text">
                        <P class="text"> © 2022 Minimalist</P>
                    </div>
            
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script src="scripts/knowledge.js"></script>