
body
{
    margin: 0;
}
.openBtn {
    background: #f1f1f1;
    border: none;
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
  }
  
  .openBtn:hover {
    background: #bbb;
  }
  
  .overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    transition: 0.5s;
    background-color: rgb(236, 227, 227);
    background-color: rgba(231, 220, 220, 0.9);
  }
  #InputCloseBox
  {
      border: 0px solid white;
      width: 99.3%;
      padding: 1.5vw 1vw 1.5vw 1.5vw;
      display: flex;
      grid-gap: 1vw;
      justify-content: center;
      background-color: white;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  #SearchInput
  {
      border: 0px solid white;
      height: 4vw;
      width: 95%;
      outline: none;
      padding: .5vw 1vw .5vw 1vw;
      font-size: 1.5vw;
      border: 0;
  }
  #SearchInput:hover
  {
      background-color: #f1f1f1;
  }
  #SubmitSearchInput
  {
      border: 0px solid;
      width: 5%;
      height: 4vw;
      padding: .5vw;
      font-size: 1.8vw;
      cursor: pointer;
      background-color: rgb(190, 190, 212);
  }
  #SubmitSearchInput:hover
  {
      background-color: #bbb;
  }
  .overlay-content {
      border: 1px solid white;
    position: relative;
    /* top: 46%; */
    width: 90%;
    text-align: center;
    padding: .5vw;
    display: flex;
  }
  
  .overlay .closebtn {
      border: 1px solid white;
      width: fit-content;
      cursor: pointer;
      color: rgb(87, 72, 72);
      font-size:3vw;
      padding: 0vw .6vw 0vw .6vw;
    /* position: absolute;
    /* top: 20px;
    right: 45px; */
    /* font-size: 60px;
    color: white; */
  }
  
  .overlay .closebtn:hover {
    color: #ccc;
  }
#NavbarContainer
{
    /* border: 1px solid; */
    width: 95.86vw;
    padding: 2vw;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    overflow: hidden;

    background-color: black;
}
#navbar
{
    /* border: 1px solid; */
    width: 99.9%;
    display: flex;
}
#LogoBox
{
    /* border: 1px solid; */
    width: 20%;
    height: 3.5vw;
    display: flex;
    cursor: pointer;
    background-color: white;
}
#HomeIcon
{
    /* border: 1px solid; */
    width: 23.5%;
    height: 99.8%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
    font-size: 1.6vw;
}
#WebsiteNameBox
{
    /* border: 1px solid; */
    width: 76%;
    height: 99.8%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.6vw;
    color: white;
    background-color: black;
}
#MiddleBox
{
    /* border: 1px solid; */
    width: 60%;
    display: flex;
    justify-content: center;
    padding: .2vw;
    background-color: black;
}
.Middle
{
    /* border: 1px solid; */
    width: 16%;
    height: 94%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4vw;
    cursor: pointer;
    color: white;
    background-color: black;
}
#LoginSignUpBox
{
    /* border: 1px solid; */
    width: 20%;
    display: flex;
    padding: .2vw;
    justify-content: center;
    grid-gap: .1vw;
    background-color: black;
}
.LoginSignUp
{
    /* border: 1px solid; */
    width: 23.2%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
    font-size: 1.6vw;
    cursor: pointer;
}
#SearchIcon
{
    /* border: 1px solid; */
    width: 23.2%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
    font-size: 1.6vw;
    cursor: pointer;
}

#CartProductContainer
{
    /* border: 1px solid; */
    width: 92.8vw;

    margin: auto;
    margin-top: 7.95vw;
    padding: 4vw 2vw;
}
#CartProductSubContainer
{
    /* border: 1px solid; */
    padding: 1vw;
}

#CartHeading
{
    /* border: 1px solid; */
    padding: .4vw;
    width: 99%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8vw;
    font-weight: bold;
}
#CartProduct
{
    /* border: 1px solid; */
    padding: .4vw;
    width: 99%;
    margin: auto;
    display: flex;
}
#ProductDetailsHeading
{
    /* border: 1px solid; */
    padding: .4vw;
    width: 60%;
    display: flex;
    justify-content: center;
    font-size: 1.5vw;
    font-weight: bold;
}
#QyantityHeading
{
    /* border: 1px solid; */
    padding: .4vw;
    width: 20%;
    display: flex;
    font-size: 1.5vw;
    font-weight: bold;
    justify-content: center;
    font-weight: bold;
}
#TotalHeading
{
    /* border: 1px solid; */
    padding: .4vw;
    width: 20%;
    display: flex;
    font-size: 1.5vw;
    font-weight: bold;
    justify-content: center;
    font-weight: bold;
}
#CartProductShow
{
    /* border: 1px solid; */
    padding: .4vw;
    width: 99%;
    margin: auto;
}

.EachProductContainer
{
    /* border: 1px solid; */
    width: 99.8%;
    margin: auto;
    display: flex;
}
.EachProduct
{
    /* border: 1px solid; */
    padding: .4vw;
    width: 58.1%;
    display: flex;
    grid-gap: .5vw;
}
.EachProductImageBox
{
    /* border: 1px solid; */
    width: 30%;
    display: flex;
}
.EachProductImage
{
    /* border: 1px solid; */
    width: 100%;
    height: 15vw;
}
.EachProductDetailsBox
{
    /* border: 1px solid; */
    width: 66.5%;
    padding: .5vw;
}
.EachProductTitle
{
    /* border: 1px solid; */
    width: 97%;
    display: flex;
    padding: .4vw;
    font-size: 1.5vw;
    font-weight: bold;
    text-align: justify;
}
.EachProductRemoveButton
{
    /* border: 1px solid; */
    width: 20%;
    margin-top: .5vw;
    padding: .2vw .5vw .5vw .2vw;
    font-size: 1.4vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.EachProductQyantity
{
    /* border: 1px solid; */
    padding: .4vw;
    width: 19.4%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.QyantityBox
{
    /* border: 1px solid; */
    width: 90%;
    padding: .5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: .4vw;
}
.DecreaseBox
{
    /* border: 1px solid; */
    padding: .2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12%;
    font-size: 1vw;
    font-weight: bold;
    cursor: pointer;
    background-color: black;
    color: white;
}
.ShowQuantityBox
{
    border: 1px solid;
    padding: .2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22%;
    font-size: 1vw;
    outline: none;
}
.IncreaseBox
{
    /* border: 1px solid; */
    padding: .2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12%;
    font-size: 1vw;
    font-weight: bold;
    cursor: pointer;
    background-color: black;
    color: white;
}
.EachProductTotal
{
    /* border: 1px solid; */
    padding: .4vw;
    width: 19.34%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
    font-weight: bold;
}

.YourCartEmpty
{
    /* border: 1px solid; */
    margin: auto;
    width: 50%;
    font-size: 1.5vw;
    display: flex;
    justify-content: center;
}
.OurProductPage
{
    /* border: 1px solid; */
    width: 20%;
    display: flex;
    justify-content: center;
    text-decoration: underline;
    cursor: pointer;
    font-size: 1.2vw;
    color: blue;
    margin: auto;
}

#SubTotalCheckOutContainer
{
    
    /* border: 1px solid; */
    padding: .4vw;
    width: 99%;
}
#SubTotalContainer
{
    /* border: 1px solid; */
    padding: .4vw 2.6vw .4vw .4vw;
    margin: auto;
    width: 96.2%;
    display: flex;
    font-size: 1.5vw;
    justify-content: end;
    align-items: center;
}
#TaxHeading
{
    /* border: 1px solid; */
    padding: .4vw 2.6vw .4vw .4vw;
    margin: auto;
    width: 96.2%;
    display: flex;
    font-size: 1.2vw;
    justify-content: end;
    align-items: center;
}
#CheckoutContainer
{
    /* border: 1px solid; */
    padding: .4vw 2.6vw .4vw .4vw;
    margin: auto;
    width: 96.2%;
    display: flex;
    justify-content: end;
    align-items: center;
    grid-gap: .5vw;
}
#UpdateCartContainer
{
    
    /* border: 1px solid; */
    width: 10%;
    padding: .4vw .6vw;
    display: flex;
    justify-content: center;
    font-size: 1.4vw;
    cursor: pointer;
}
#CheckOutButtonContainer
{
    /* border: 1px solid; */
    width: 10%;
    padding: .4vw .6vw;
    display: flex;
    justify-content: center;
    font-size: 1.4vw;
    cursor: pointer;
}

.carousel {
    background: #EEE;
    border: 1px solid blue;
    width: 99.8%;
    height: 99.8%;
    
    margin: auto;
  }
  
  .carousel-cell {
    width: 64%;
    height: 34.93vw;
    margin-right: 10px;
    background: #8C8;
    border-radius: 5px;
    counter-increment: carousel-cell;
  }
  .item1
  {
      /* border: 1px solid yellow; */
      width: 26%;
      height: 22.75vw;
      border-radius: .4vw;
      padding: .5vw;
  }
  .EachProductItemBox
  {
    /* border: 1px solid; */
    padding: .4vw;
    width: 93.5%;
    margin: auto;
  }

  .EachProductItemBox:hover .ViewIcon
{
    opacity: 1;
}
  .SaleViewBox
    {
        /* border: 1px solid; */
        width: 97.5%;
        margin: auto;
        display: flex;
        justify-content: space-between;
    }
    .SaleIcon
{
    /* border: 1px solid; */
    width: 20%;
    height: 2.2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2vw;
}
.ViewIcon
{
    /* border: 1px solid; */
    width: 20%;
    height: 2.2vw;
    margin-right: .5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: .8s ease;
    cursor: pointer;
}
.ViewImage
{
    /* border: 1px solid; */
    width: 70%;
    height: 85%;
    border-radius: 50%;
}

.ImageBox
{
    /* border: 1px solid; */
    width: 97.2%;
    height: 12.6vw;
    margin: auto;
    display: flex;
    cursor: pointer;
}

.ImageBox1
{
    /* border: 1px solid; */
    width: 97.8%;
    margin: auto;
    display: flex;
    
    cursor: pointer;
}
.GridImage
{
    /* border: 1px solid; */
    width: 99.6%;
    height: 99%;
}

.GridImage1
{
    /* border: 1px solid; */
    width: 99.6%;
    height: 17.5vw;
}

.TitleBox
{
    /* border: 1px solid; */
    width: 95.4%;
    padding: .2vw;
    margin: auto;
    display: flex;
    align-items: center;
    font-size: 1vw;
    /* margin-top: .4vw; */
}

.PercentageOffBox
{
    
    /* border: 1px solid; */
    width: 95.4%;
    padding: .2vw;
    margin: auto;
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 1vw;
}

.CompositionUnit
{
    /* border: 1px solid; */
    width: 95.4%;
    padding: .2vw;
    margin: auto;
    display: flex;
    align-items: center;
    font-size: 1vw;
    font-weight: bold;
}
.StarsBox
{
    /* border: 1px solid; */
    width: 95.4%;
    padding: .2vw;
    margin: auto;
    display: flex;
    align-items: center;
    font-size: 1vw;
}
.checked
{
    color: yellow;
}
.reviews
{
    /* border: 1px solid; */
    width: 40%;
    margin-left: .5vw;
    font-size: 1.2vw;
    display: flex;
}

#Footercontainer
{
    border: 1px solid;
    position: absolute;
    padding: 1vw;
    margin: auto;
    margin-top: 18vw;
    left: 0;
    right: 0;
    width: 96.6vw;
    background-color: black;
}
#footer {
    background-color: black;
    height: 590px;
    width: 100%;
}
.footer-1 {
    display: inline-block;
    width: 84%;
    height: 75%;
    margin-top: 70px;
    margin-left: 105px;
}
.footr-text {
    /* background-color: red; */
    width: 100%;
    height: 50%;
    display: flex;
}
.footer-logo {
    width: 100%;
    height: 50%;
    margin-left: auto;
}
.img {
    width: 5%;
    height: 30%;
    margin: 6px;
    margin-top: 10%;
}
#footer-logo-1 {
    width: 70%;
    height: 50%;
    display: flex;
    margin-left: 25%;
}
.text {
    text-align: center;
    font-size: .75em;
    font-weight: 400;
    color: #fff;
    margin-top: 4%;
}
.image {
    width: 100%;
    height: 85%;
    border-radius: 4px;
}
.text-area {
    width: 23%;
    height: 100%;
    /* background-color: blue; */
    margin: 4px;
}
.logo-2 {
    width: 50%;
    height: 30%;
    /* background-color: #fff; */
    margin: 10px;
    display: flex;
}
.logo-1 {
    width: 50%;
    height: 70%;
    /* background-color: rgb(238, 1, 1); */
    margin: 6px;
}
.a-img {
    width: 50%;
    margin-left: 16px;
}
.ulist {
    list-style-type: none;
    color: #fff;
}
.link {
    margin-top: 13px;
    /* font-size: ; */
    color: #fff;
    display: inline-block;
}
.text-01 {
    color: #fff;
    margin-top: 0px;
}
.box1 {
    border: 1px solid gray;
    width: 100%;
    height: 36px;
    display: flex;
}
.image-1 {
    height: 100%;
    width: 100%;
    margin-left: 6px;
    margin-top: 5px;
}
.input {
    background-color: black;
    color: #fff;
    margin-left: 12px;
    margin-top: 5px;
    width: 90%;
    height: 60%;
    border-width: 0px;
    border: none;
}
.div {
    height: 70%;
    width: 14%;
}
#div1 {
    margin-left: 0px;
    width: 100%;
    height: 100%;
}

#cartempty 
{
    /* border: 1px solid; */
    margin: 10vw 0px;
    text-align: center;
    font-family: Theory-web-ul;
    letter-spacing: 2px;
    font-weight: lighter;
}
  
#cartempty h1 
{
    font-size: 40px;
    color: #212529;
    font-weight: 500;
}

#cartempty a:hover
{
    transition: 700ms;
    font-size: 2vw;
    color: green;
    background-color: yellow
}

.select_qty 
{
    padding: 8px;
    font-size: 13px;
}
.select_qty:focus 
{
    outline: none;
}