

body
{
    margin: 0;
}
.openBtn {
    background: #f1f1f1;
    border: none;
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
  }
  
  .openBtn:hover {
    background: #bbb;
  }
  
  .overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    transition: 0.5s;
    background-color: rgb(236, 227, 227);
    background-color: rgba(231, 220, 220, 0.9);
  }
  #InputCloseBox
  {
      border: 0px solid white;
      width: 99.3%;
      padding: 1.5vw 1vw 1.5vw 1.5vw;
      display: flex;
      grid-gap: 1vw;
      justify-content: center;
      background-color: white;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  #SearchInput
  {
      border: 0px solid white;
      height: 4vw;
      width: 95%;
      outline: none;
      padding: .5vw 1vw .5vw 1vw;
      font-size: 1.5vw;
      border: 0;
  }
  #SearchInput:hover
  {
      background-color: #f1f1f1;
  }
  #SubmitSearchInput
  {
      border: 0px solid;
      width: 5%;
      height: 4vw;
      padding: .5vw;
      font-size: 1.8vw;
      cursor: pointer;
      background-color: rgb(190, 190, 212);
  }
  #SubmitSearchInput:hover
  {
      background-color: #bbb;
  }
  .overlay-content {
      border: 1px solid white;
    position: relative;
    /* top: 46%; */
    width: 90%;
    text-align: center;
    padding: .5vw;
    display: flex;
  }
  
  .overlay .closebtn {
      border: 1px solid white;
      width: fit-content;
      cursor: pointer;
      color: rgb(87, 72, 72);
      font-size:3vw;
      padding: 0vw .6vw 0vw .6vw;
    /* position: absolute;
    /* top: 20px;
    right: 45px; */
    /* font-size: 60px;
    color: white; */
  }
  
  .overlay .closebtn:hover {
    color: #ccc;
  }
#NavbarContainer
{
    /* border: 1px solid; */
    width: 95.86vw;
    padding: 2vw;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    overflow: hidden;

    background-color: black;
}
#navbar
{
    /* border: 1px solid; */
    width: 99.9%;
    display: flex;
}
#LogoBox
{
    /* border: 1px solid; */
    width: 20%;
    height: 3.5vw;
    display: flex;
    cursor: pointer;
    background-color: white;
}
#HomeIcon
{
    /* border: 1px solid; */
    width: 23.5%;
    height: 99.8%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
    font-size: 1.6vw;
}
#WebsiteNameBox
{
    /* border: 1px solid; */
    width: 76%;
    height: 99.8%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.6vw;
    color: white;
    background-color: black;
}
#MiddleBox
{
    /* border: 1px solid; */
    width: 60%;
    display: flex;
    justify-content: center;
    padding: .2vw;
    background-color: black;
}
.Middle
{
    /* border: 1px solid; */
    width: 16%;
    height: 94%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4vw;
    cursor: pointer;
    color: white;
    background-color: black;
}
#LoginSignUpBox
{
    /* border: 1px solid; */
    width: 20%;
    display: flex;
    padding: .2vw;
    justify-content: center;
    grid-gap: .1vw;
    background-color: black;
}
.LoginSignUp
{
    /* border: 1px solid; */
    width: 23.2%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
    font-size: 1.6vw;
    cursor: pointer;
}
#SearchIcon
{
    /* border: 1px solid; */
    width: 23.2%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
    font-size: 1.6vw;
    cursor: pointer;
}

.ErrorBox
{
    margin: auto;
    margin-top: .5vw;
    /* border: 1px solid; */
    width: fit-content;
    text-align: justify;
    padding: .5vw;
    background-color: red;
}
.ErrorBox > a
{
    font-size: 2vw;
    margin-left: .4vw;
    background-color: blue;
    color: yellow;
    padding: 0vw .2vw;
    text-decoration: none;
}
.ErrorBox > a:hover
{
    font-size: 2vw;
    margin-left: .4vw;
    background-color: Yellow;
    color: blue;
    text-decoration: underline;
    padding: .2vw;
}
.ErrorBox > a,strong
{
    /* border: 1px solid; */
    font-size: 2vw;
}
#LoginFormContainer
{
    border: 1px solid;
    width: 99.9vw;
    height: 10vw;
}

#login-form-div
{
    border: 0px solid;
    width: 30vw;
    margin: auto;
    margin-top: 9vw;
    padding: .5vw;
    border-radius: .5vw;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#signupheading
{
    border: 0px solid;
    margin: 0vw 10vw 0vw 0vw;
    font-size: 2vw;
    font-weight: bold;
}
#close
{
    border: 0px solid;
    width: 97%;
    margin: auto;
    height: fit-content;
    display: flex;
    padding-right: .5vw;
    justify-content: right;
    align-items: center;
}
#closeimage
{
    width: 100%;
    height: 2vw;
    border: 0px solid;
}
form
{
    border: 0px solid;
    border-radius: .5vw;
    width: 95%;
    margin: auto;
    margin-top: .5vw;
    padding: .5vw;
    background-color: rgb(227, 238, 238);
}
.inputheading
{
    border-bottom: 1px solid;
    width: fit-content;
    margin-top: .2vw;
    margin-bottom: .2vw;
    font-size: 1.5vw;
}
input
{
    width: 96%;
    height: 2vw;
    padding: .2vw;
    font-size: 1.2vw;
    margin-bottom: .5vw;

}
#submit1
{
    width: 98.2%;
    height: 2.5vw;
    padding: .2vw;
    font-size: 1.5vw;
    border-width: .1vw;
    background-color: blue;
    color: yellow;
    border-color: yellow;
    border-radius: 2vw;
}
#submit1:hover
{
    background-color: yellow;
    color: blue;
    border-color: blue;
}
#login
{
    width: 96.2%;
    border: px solid;
    margin: auto;
    display: flex;
    grid-gap: .2vw;
    padding: .2vw;
}
.login
{
    font-size: 1vw;
    border: 0px solid;
    margin-top: auto;
}
.login1
{
    font-size: 1vw;
    border: 0px solid;
    height: fit-content;
}

#Footercontainer
{
    border: 1px solid;
    position: absolute;
    padding: 1vw;
    margin: auto;
    margin-top: 18vw;
    left: 0;
    right: 0;
    width: 96.6vw;
    background-color: black;
}
#footer {
    background-color: black;
    height: 590px;
    width: 100%;
}
.footer-1 {
    display: inline-block;
    width: 84%;
    height: 75%;
    margin-top: 70px;
    margin-left: 105px;
}
.footr-text {
    /* background-color: red; */
    width: 100%;
    height: 50%;
    display: flex;
}
.footer-logo {
    width: 100%;
    height: 50%;
    margin-left: auto;
}
.img {
    width: 5%;
    height: 30%;
    margin: 6px;
    margin-top: 10%;
}
#footer-logo-1 {
    width: 70%;
    height: 50%;
    display: flex;
    margin-left: 25%;
}
.text {
    text-align: center;
    font-size: .75em;
    font-weight: 400;
    color: #fff;
    margin-top: 4%;
}
.image {
    width: 100%;
    height: 85%;
    border-radius: 4px;
}
.text-area {
    width: 23%;
    height: 100%;
    /* background-color: blue; */
    margin: 4px;
}
.logo-2 {
    width: 50%;
    height: 30%;
    /* background-color: #fff; */
    margin: 10px;
    display: flex;
}
.logo-1 {
    width: 50%;
    height: 70%;
    /* background-color: rgb(238, 1, 1); */
    margin: 6px;
}
.a-img {
    width: 50%;
    margin-left: 16px;
}
.ulist {
    list-style-type: none;
    color: #fff;
}
.link {
    margin-top: 13px;
    /* font-size: ; */
    color: #fff;
    display: inline-block;
}
.text-01 {
    color: #fff;
    margin-top: 0px;
}
.box1 {
    border: 1px solid gray;
    width: 100%;
    height: 36px;
    display: flex;
}
.image-1 {
    height: 100%;
    width: 100%;
    margin-left: 6px;
    margin-top: 5px;
}
.input {
    background-color: black;
    color: #fff;
    margin-left: 12px;
    margin-top: 5px;
    width: 90%;
    height: 60%;
    border-width: 0px;
    border: none;
}
.div {
    height: 70%;
    width: 14%;
}
#div1 {
    margin-left: 0px;
    width: 100%;
    height: 100%;
}